@import "sassline-base";

$white: #ffffff;
$dark-grey: #232732;
$light-grey: #DDDDDD;
$button-primary: #d33d5c;
$button-hover: #3DA450;

@mixin rounded($radius: 0.5em) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

@mixin gradient($from, $to) {
  background: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
  background: -moz-linear-gradient(top,  $from, $to);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$from}', endColorstr='#{$to}');
}

header.typeset {
  background: $dark-grey;
  padding: 1rem;
  h1 {
    color: $white;
    font-size: 1.5em;
  }
}

.blog {
  margin: 1rem;
  
  @include breakpoint(break-2) {
    margin: 1rem auto;
    max-width: 60%;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.4rem;
    border-bottom: 1px solid $light-grey;
  }

  strong {
    letter-spacing: -0.2px;
  }

  form {
    @include breakpoint(break-2) {
      display: flex;
      align-items: flex-end;
    }
    div {
      input[type="email"] {
        font-size: 1em;
        border: 1px solid $dark-grey;
        width: 100%;
        margin: 1rem 0;
        padding: 1rem;
        @include breakpoint(break-2) {
          padding: 0.5rem;
          margin: 0 1rem 0 0;
          width: 20rem;
        }
      }
      input[type="submit"] {
        width: 100%;
        padding: 1rem 1.5rem;
        font-size: 1em;
        display: block;
        @include breakpoint(break-2) {
          padding: 0.6rem 1.5rem;
          width: 10rem;
        }
        text-align: center;
        border: 0;
        background-color: $button-primary;
        color: #ffffff;
        @include rounded(3px);
        @include box-shadow(0, 2px, 5px, $dark-grey);
        transition: all 0.15s linear;
        outline: none;
        cursor: pointer;
        &:hover,
        &:focus {
          background: $button-hover;
          border: 0;
          @include box-shadow(0, 2px, 5px, $dark-grey);
        }
      }
    }
    margin-bottom: 1rem;
  }
}