@import "sassline-base";

$white: #ffffff;
$dark-grey: #232732;
$button-primary: #d33d5c;
$button-hover: #3DA450;

body {
  overflow-x: hidden;
}

header.typeset {
  background: $dark-grey;
  padding: 1rem;
  h1 {
    color: $white;
    font-size: 1.5em;
  }
}

.hero {
  background: $dark-grey;
  color: $white;
  padding: 1rem;
  @include breakpoint(break-2) {
    padding: 4rem 1rem;
  }
  .container {
    max-width: 100%;
    @include breakpoint(break-2) {
      display: flex;
      max-width: 80%;
    }
    margin: 0 auto;
    .content {
      @include breakpoint(break-2) {
        width: 50%;
      }
    }
    .illustration {
      @include breakpoint(break-2) {
        width: 50%;
        margin-left: 2rem;
      }
      img {
        max-width:100%;
        max-height:100%;
        @include breakpoint(break-2) {
          position: absolute;
          width: 65%;
        }
      }
    }
  }

  h1 {
    color: $white;
    font-size: 4rem;
    line-height: 4rem;
    font-weight: normal;
  }
}

.challenge, .solution {
  padding-top: 4rem;
  .container {
    margin: 0 auto;
    padding: 0 1em;
    @include breakpoint(break-2) {
      max-width: 70%;
    }
  }
  h2 {
    @include breakpoint(break-1) {
      font-size: 2rem;
      line-height: 3rem;
      margin-bottom: 1rem;
    }
    @include breakpoint(break-2) {
      text-align: center;
      font-size: 3rem;
      line-height: 4rem;
      margin-bottom: 2rem;
    }
    color: $button-primary;
    font-weight: normal;
  }
}

.challenge {
  .container {
    @include breakpoint(break-2) {
      display: flex;
      flex-wrap: wrap;
    }
    h2 {
      max-width: 100%;
    }
    .content {
      @include breakpoint(break-2) {
        flex: 1;
        max-width: 50%;
      }
    }
    .illustration {
      @include breakpoint(break-2) {
        flex: 1;
        max-width: 50%;
      }
      img {
        max-width: 100%;
      }
    }
  }
}

.solution {
  .container {
    @include breakpoint(break-1) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    img.screencast {
      -webkit-border-radius: 1rem;
      -moz-border-radius: 1rem;
      border-radius: 1rem;
      background: #211f1c;
      padding: 0.5rem;
      max-width: 100%;
      @include breakpoint(break-1) {
        max-width: 70%;
      }
      display: block;
      margin: 0 auto 2rem auto;
    }
    .feature {
      margin-top: 1em;
      @include breakpoint(break-1) {
        width: 32%;
      }
      width: 100%;
      img {
        display: block;
        margin-top: 3rem;
        @include breakpoint(break-1) {
          margin: auto;
        }
        height: 60px;
      }
      h3 {
        text-align: left;
        font-size: 1.2rem;
        line-height: 1.5rem;
      }
    }
  }
  padding-bottom: 8rem;
}

.final-cta {
  background: $dark-grey;
  padding: 4rem 0;
  .container {
    margin: 0 1rem;
    @include breakpoint(break-1) {
      max-width: 50%;
      margin: 0 auto;
    }
    color: $white;
    h2 {
      color: $white;
      margin-bottom: 1rem;
    }
  }
}

form {
  div {
    input[type="text"] {
      font-size: 1em;
      padding: 1rem 1rem;
      border: 1px solid $dark-grey;
      width: 100%;
    }
    input[type="submit"] {
      margin-top: 0.5rem;
      width: 100%;
      font-size: 1em;
      display: block;
      padding: 1rem 1.5rem;
      text-align: center;
      border: 0;
      background-color: $button-primary;
      color: #ffffff;
      border-radius: 3px;
      box-shadow: 0 2px 5px 0 rgba(0,0,0,0.4), $dark-grey 0px 0px 1px inset;
      transition: all 0.15s linear;
      outline: none;
      cursor: pointer;
      &:hover,
      &:focus {
        background: $button-hover;
        border: 0;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.5), #505050 0px 0px 1px inset;
      }
    }
  }
  margin-bottom: 4rem;
}