<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Co-op Platform</title>
    <meta name="description" content="">
    <%= stylesheet_link_tag 'stylesheets/site' %>
    <%= favicon_tag 'images/favicon.ico' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
