<form action="https://docs.google.com/forms/d/e/1FAIpQLSeh51TXt8IdoPAHVz-ujjue3r1VPd_qoF5eV6Xf-Ww6qyF-4w/formResponse" method="post">
  <div class="input">
    <label for="email-address">Email address:</label>
    <input id="email-address" type="email" name="entry.78386960" required placeholder="">
  </div>
  <div class="button">
    <input type="submit" value="Sign up">
  </div>
</form>
