<form>
  <label for="email-address">Web domain:</label>
  <div>
    <input id="domain" type="text" name="entry.2082822863" required placeholder="Step 1. Enter your web domain">
    <input type="submit" value="Get started">
  </div>
</form>
