<form>
  <label for="email-address">Email address:</label>
  <div>
    <input id="domain" type="text" name="" required placeholder="e.g. sandra@flextech.com">
  </div>
  <div>
    <input type="submit" value="Sign up for early access">
  </div>
</form>
