<form id="mG61Hd" action="https://docs.google.com/forms/d/e/1FAIpQLSd_tCWldCCAzrq0tA-CT0Odxche5gnBb6UHSoUf1ryXt9VUDg/formResponse" method="post">
  <div>
    <label for="email-address">Email address:</label>
    <input id="email-address" type="email" name="entry.2082822863" required placeholder="e.g. sandra@flextech.com">
  </div>
  <div>
    <input type="submit" value="Sign up for early access">
  </div>
</form>
